
.nav-bar{
    background-color: #151515;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #ec1d24;
}

.logo{
    font-weight: bolder;
    display: inline;
    /* background-color: #ec1d24; */
    color: #ffffff;
    padding: 5px 10px;
}