/* Full div style  */
.hero{
    margin-top: 50px;
    border-radius: 10px;
}

/* hero image style in heros list  */
.hero img{
    height: 350px;
    width: 200px;
    border-radius: 10px;
}
.hero img:hover{
    border: 4px solid #ec1d24;
}

/* add to list button style  */
.add-btn{
    background-color: #ec1d24;
    border: 2px solid #ec1d24;
    color: aliceblue;
    border-radius: 5px;
    width: 200px;
}
.add-btn:hover{
    background-color: #151515;
    border: 2px solid #ff0000;
    font-weight: bold;
    color: #ff0000;
}
